body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineupDancers{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancefloor{
  height:100%;
  background-color: rgb(255, 0, 247);
  background-image: url("Jo\ Ro\ Dance\ Floor.jpeg");
}
.dancer{
  position: absolute;
}
.squaredancer{
  border:10px solid rgb(93, 0, 255);
  border-radius:10px;
  position:absolute;
}
.roshan{
  border:2px solid rgb(0, 255, 42);
  border-radius:2px;
}
.joseph{

}